.whole{
	width:700px;
	height: 450px;
	margin:120px auto;
	box-shadow: inset 0px 0px 30px #009688;
}
.login{
	width:300px;
	height:360px;
	float: left;
	margin:50px 19px;
}
.register{
	width:300px;
	height:360px;
	float: left;
	margin:50px 19px;
	border-left-style: double;
	border-color: #009688;
}
.login h1,.register h1{
	text-align: center;
	font-family: "华文中宋";
}
.login form input,.register form input{
	height: 30px;
	float: right;
	border: none;
	background: none;
	margin-right: 30px;
}
.login form p,.register p{
	margin-left: 40px;
	height:40px;
	font-family: "华文中宋";
	border-bottom-style:dashed;
	border-color: #009688;
}
.submit{
	width:50px;
	height:50px;
	font-size: 20px;
	font-family: "华文行楷";
	border-color: #999;
}
.lo_am{
	margin-top: 50px;
	margin-left: 150px;
	
}
.lo_am a{
	color: brown;
	text-decoration: none;
	font-family: "华文中宋";
	border: solid;
}
.lo_am a:hover{
	color: blue;
}